{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	
}
 @keyframes slidy {
0% {opacity:1 }

100% { opacity:0; }

}



 div#slider img { width: 100%;
        height:13cm;
		margin:0px;
		padding:0px;
		
                     position:absolute;
                 float:left;     
					display:none;}
					  
					  
					  

